@{
    Layout = "_BlankLayout";

    ViewData["Title"] = "Login";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@model Rajby_web.Models.LoginViewModel

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                            <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>
                        </a>
                    </div>
                    <h4 class="mb-1">Welcome to @TempData.Peek("appName")! 👋</h4>
                    <p class="mb-6">Please sign-in to your account and start the adventure</p>

                    <!-- Display Validation Error Message -->
                    @if (ViewData.ModelState != null && ViewData.ModelState[""]?.Errors.Count > 0)

                    {
                        <div class="alert alert-danger">
                            @ViewData.ModelState[""].Errors[0].ErrorMessage
                        </div>
                    }

                    <!-- Login Form -->
                    <form id="formAuthentication" class="mb-6" method="POST">
                        <div class="mb-6">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="Username" asp-for="Username" placeholder="Enter your username" autofocus required />
                        </div>
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" for="password">Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" class="form-control" name="Password" asp-for="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" required />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <div class="mb-6">
                            <button class="btn btn-primary d-grid w-100" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
